@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  /* COLOUR PALETTE: */
  --color-brown-red-50: #faeaed;
  --color-brown-red-100: #f6d5da;
  --color-brown-red-200: #ecacb6;
  --color-brown-red-300: #e38291;
  --color-brown-red-400: #d9596c;
  --color-brown-red-500: #d02f47;
  --color-brown-red-600: #a62639;
  --color-brown-red-700: #7d1c2b;
  --color-brown-red-800: #53131d;
  --color-brown-red-900: #2a090e;
  --color-brown-red-950: #1d070a;
  --color-amaranth-50: #fbe9ec;
  --color-amaranth-100: #f7d4da;
  --color-amaranth-200: #f0a8b4;
  --color-amaranth-300: #e87d8f;
  --color-amaranth-400: #e05269;
  --color-amaranth-500: #d92644;
  --color-amaranth-600: #ad1f36;
  --color-amaranth-700: #821729;
  --color-amaranth-800: #570f1b;
  --color-amaranth-900: #2b080e;
  --color-amaranth-950: #1e050a;
  --color-taupe-grey-50: #f3f1f2;
  --color-taupe-grey-100: #e8e3e5;
  --color-taupe-grey-200: #d0c8cb;
  --color-taupe-grey-300: #b9acb1;
  --color-taupe-grey-400: #a19197;
  --color-taupe-grey-500: #8a757d;
  --color-taupe-grey-600: #6e5e64;
  --color-taupe-grey-700: #53464b;
  --color-taupe-grey-800: #372f32;
  --color-taupe-grey-900: #1c1719;
  --color-taupe-grey-950: #131012;
  --color-rosy-granite-50: #f3f2f2;
  --color-rosy-granite-100: #e7e5e4;
  --color-rosy-granite-200: #cecbca;
  --color-rosy-granite-300: #b6b0af;
  --color-rosy-granite-400: #9d9695;
  --color-rosy-granite-500: #857c7a;
  --color-rosy-granite-600: #6a6362;
  --color-rosy-granite-700: #504a49;
  --color-rosy-granite-800: #353231;
  --color-rosy-granite-900: #1b1918;
  --color-rosy-granite-950: #131111;
  --color-night-bordeaux-50: #f8ecef;
  --color-night-bordeaux-100: #f2d9df;
  --color-night-bordeaux-200: #e5b3c0;
  --color-night-bordeaux-300: #d88da0;
  --color-night-bordeaux-400: #cb6780;
  --color-night-bordeaux-500: #be4160;
  --color-night-bordeaux-600: #98344d;
  --color-night-bordeaux-700: #72273a;
  --color-night-bordeaux-800: #4c1a27;
  --color-night-bordeaux-900: #260d13;
  --color-night-bordeaux-950: #1b090d;
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);

    @apply font-sans antialiased bg-background text-foreground;
  }

  code,
  pre {
    @apply font-mono;
  }
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply font-sans;
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
